<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Ölprovar-tävling</title>
</head>
<body>
    <h1>Julölsdatabasen</h1>

    <p>
        Denna sida är tänkt att agera databas för julöler (och kanske andra öler) vid provningar (eller om man ser det som tävlingar).<br>
        Min förhoppning är att den ska lösa problemet med att flera köper samma öl genom att anonymt jämföra om en öl man försöker registrera redan finns för den gällande provningen.<br>
        Ett plus är att det blir en plats att spara tidigare öler och VINNARE!
    </p>

    <h2>Julölsprovning 2023</h2>
    <p>Västerås var bäst!</p>
    <ul>
        <li>Munken - Hantverksbryggeriet</li>
        <li>Narren - Hantverksbryggeriet</li>
    </ul>

    <h2>Julölsprovning 2024</h2>
    <p>Västerås var inte bäst!</p>

    <h2>Julölsprovning 2025</h2>
    <p>Kommer Västerås vara bäst igen?</p>
</body>
</html>
