<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Ölprovar-tävling</title>
</head>
<body>
    <!-- Försök till en snygg framsida -->
    <h1>Julölsdatabasen</h1>

    <p>
        Denna sida är tänkt att agera databas för julöler (och kanske andra öler) 
        vid provningar (eller om man ser det som tävlingar).<br>
        Min förhoppning är att den ska lösa prSoblemet med att flera köper samma 
        öl genom att anonymt jämföra om en öl man försöker registrera redan finns 
        för den gällande provningen.<br>
        Ett plus är att det blir en plats att spara tidigare öler och VINNARE!
    </p>

    <!-- Skapa en tävlingsrubrik om ny tävling registreras -->
    {% for competition, sign_dict in grouped_beers.items() %}
        <h2>{{ competition if competition else "Okänd tävling" }}</h2>

        <!-- Alla användare inom tävlingen -->
        {% for sign, beers in sign_dict.items() %}
            <h3>{{ sign if sign else "Okänd användare" }}</h3>
            <ul>
                {% for beer in beers %}
                    <li>{{ beer.name }} - {{ beer.brewery }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endfor %}


    <h2>Registrera en ny öl</h2>
    <!-- Hämtar öl från användare och skickar denne till /add_beer som är en topic 
     som hanteras i app.py -->
    <form method="POST" action="/add_beer">
        <label for="competition"><span style="color: red;">*</span>Tävling:</label><br>
        <input type="text" id="competition" name="competition" required><br><br>

        <label for="name"><span style="color: red;">*</span>Namn på Öl:</label><br>
        <input type="text" id="name" name="name" required><br><br>

        <label for="brewery"><span style="color: red;">*</span>Bryggeri:</label><br>
        <input type="text" id="brewery" name="brewery" required><br><br>
        <!-- Ibland saknas bryggeri på Systembolagets webbsida -->

        <label for="score">Betyg:</label><br>
        <input type="text" id="score" name="score"><br><br>

        <label for="comment">Kommentar:</label><br>
        <input type="text" id="comment" name="comment"><br><br>
    
        <label for="sign">Deltagare:</label><br>
        <input type="text" id="sign" name="sign"><br><br>

        <!-- Skulle kunna behövas en kod för att inte alla ska komma åt databasen -->

        <input type="submit" value="Registrera">
    </form>

    <h2>Registrerade öler</h2>
    {% if beers %}
        <ul>
            {% for beer in beers %}
                <li>{{ beer.name }}, {{ beer.brewery }}. Registrerad vid: {{ beer.competition }} av {{ beer.sign }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Inga öler har registrerats ännu.</p>
    {% endif %}


</body>
</html>
